{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h3>Data Buku &nbsp; <a href="{% url 'tambah-buku' %}" class="btn btn-primary">Tambah</a> <a
                    href="{% url 'export_xls' %}" class="btn btn-success">Export</a></h3>
            {% for message in messages %}
            {% if message %}
            <div class="flash-data" data-flashdata="{{ message }}"></div>
            {% endif %}
            {% endfor %}
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>COVER</th>
                        <th>JUDUL</th>
                        <th>PENULIS</th>
                        <th>PENERBIT</th>
                        <th>JUMLAH</th>
                        <th>KELOMPOK</th>
                        <th>ACTION</th>
                    </tr>
                </thead>
                <tbody>
                    {% for buku in books %}
                    <tr>
                        <td>
                            {% if buku.cover %}
                            <img src="{{ buku.cover.url }}" width="100" alt="">
                            {% endif %}
                        </td>
                        <td><a href="{% url 'ubah-buku' buku.id %}">{{ buku.judul }}</a></td>
                        <td>{{ buku.penulis }}</td>
                        <td>{{ buku.penerbit }}</td>
                        <td>{{ buku.jumlah }}</td>
                        <td>{{ buku.kelompok_id }}</td>
                        <td><a href="{% url 'hapus-buku' buku.id %}" class="btn btn-danger tombol-hapus">Hapus</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}